.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
  img {
    width: 20%;
  }
  h1 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
  }
  .count {
    font-size: 45px;
    font-weight: bold;
    color: green;
    margin-top: 15px;
    margin-bottom: 15px;
  }
